{% from "govuk_frontend_jinja/components/input/macro.html" import govukInput %}
{% from "govuk_frontend_jinja/components/select/macro.html" import govukSelect %}
{% from "govuk_frontend_jinja/components/textarea/macro.html" import govukTextarea %}
{% from "govuk_frontend_jinja/components/inset-text/macro.html" import govukInsetText %}

{% extends "components/base.html" %}

{% block pageTitle %}
   Operations Engineering Template Page
{% endblock %}

{% block content %}
{{ super() }}


{% endblock %}

